.form-section {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    /* background: url(/Cardapio/cardapio/public/images/image-header.png); */
    background-size: cover;
}

.form-section form {
    max-width: 90%;
    background-color: #E6ED9A;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
}